footer
    .footer 
        h1.right “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.
            p.foo  ID00011342  Copyright@2021
   

